/* Adobe CSS */
* {
  font-family: 'Adobe Clean';
}

.visible {
  display: block;
}

.hideMargin {
  margin-top: 18px !important;
  height: 535px !important;
}

.rc-container {
  position: relative;
  width: 446px;
  height: 561px;
  border: 1px solid #cacaca;
}

.rc-main-nav {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.rc-header-section {
  width: 446px;
  border-bottom: 1px solid #dddddd;
}

.rc-search:focus {
  border: none;
  outline: none;
}

.rc-search-icon {
  display: inline;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  background-position: center;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}

.rc-search-icon {
  height: 53px;
  line-height: 53px;
}

.rc-section-search-bar .rc-search-icon {
  height: 37px;
  line-height: 37px;
}

.rc-main-nav-items {
  text-align: center;
  vertical-align: middle;
}

._adobe-rc_rc-nav-item {
  display: inline-block;
  font-size: 14px;
  width: auto;
  margin-left: 8px;
  margin-right: 8px;
  height: 100%;
  line-height: 47px;
}

._adobe-rc_rc-nav-item :hover {
  border-bottom: 2px solid black;
  cursor: pointer;
}

._adobe-rc_rc-nav-item.selected {
  border-bottom: 2px solid black;
  cursor: pointer;
}

.rc-content-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.rc-section-search {
  padding-top: 21px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
}

.rc-section-search-bar {
  width: 100%;
  display: flex;
  vertical-align: middle;
  font-size: 14px;
  border: 1px solid #707070;
  border-radius: 5px;
  height: 37px;
}

#rc-section-search-input {
  border: none;
  font-size: 14px;
  line-height: 37px;
  width: calc(100% - 40px);
}

.rc-section-content-window {
  display: block;
  border: 0px solid black;
  overflow: hidden;
  position: relative;
  height: 480px;
  width: 407px;
  margin: auto;
}

.rc-section-search-results {
  display: none;
}

.rc-section-default-view {
  height: 99%;
  width: 100%;
  display: block;
}

#pendo-resource-center-container {
  position: absolute !important;
  box-shadow: none !important;
  bottom: 0px !important;
  right: 0px !important;
  width: 100% !important;
  top: 0px !important;
  height: 480px !important;
}

#pendo-resource-center-module-title-container {
  display: none !important;
}

[data-layout='AnnouncementsModule'] {
  width: 100% !important;
}

._pendo-text-list-ordered {
  border: 0px !important;
  height: 430px !important;
  padding: 0px !important;
}

._pendo-resource-center-guidelist-module-listed-guide {
  padding-bottom: 6px !important;
}

._adobe-rc_pendo-visible {
  display: block;
}

._adobe-rc_pendo-invisible {
  visibility: hidden;
}

#_adobe-rc_resource-center-container {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid #cacaca;
  background-color: #f5f5f5;
  z-index: 30000;
  transition: 0.4s;
  margin-right: 1px;
}

._adobe-rc_slide-right {
  transition: 0.4s;
}

._adobe-rc_rc-header {
  height: auto;
  border-bottom: 2px solid #d9d9d9;
  padding-top: 32px;
  padding-left: 32px;
}

._adobe-rc_rc-title {
  padding-bottom: 24px;
  font-size: 32px;
  color: #171717;
}

._adobe-rc_rc-nav {
  font-size: 16px;
  font-weight: 300;
  vertical-align: middle;
  color: #171717;
  min-height: 32px;
  margin-bottom: -2px;
}

._adobe-rc_rc-nav-item {
  display: inline-block;
}

._adobe-rc_rc-nav-item:before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

._adobe-rc_rc-nav-item:hover {
  border-bottom: 2px solid #05758a;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 700;
}

._adobe-rc_active-nav-item {
  border-bottom: 2px solid #05758a;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 700;
}

#_adobe-rc_mag-icon-container {
  padding-left: 32px;
}

#_adobe-rc_mag-icon-container {
  content: '\00a0';
  background: url(https://i.imgur.com/yXka8na.png);
  cursor: pointer;
  background-size: 16px 16px;
  background-position: top left;
  background-repeat: no-repeat;
}

._adobe-rc_rc-nav-icon {
  display: inline-block;
}

#_adobe-rc_rc-close-button {
  position: absolute;
  top: 20px;
  right: 32px;
  font-size: 24px;
  font-weight: 100;
  cursor: pointer;
}

#_adobe-rc_rc-content-pane {
  color: #171717;
  background-color: #f5f5f5;
  display: block;
  overflow: hidden;
  position: relative;
  height: 480px;
  width: 407px;
  margin: auto;
  margin-top: 15px;
}

[data-layout='GuideListModule'] {
  top: 50px !important;
  width: 100% !important;
}

[data-id='additional-resources'] {
  background-color: #ffffff;
  width: 100%;
}

[data-layout='SandboxModule'] {
  width: 100% !important;
}

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  position: relative;
  bottom: 15px;
  margin-right: 10px;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  text-shadow: 1px 1px 1px rgb(127 127 127 / 30%);
}

.icon-fontello-37:before {
  content: '\50';
}

#announcement-link-icon {
  display: flex;
  flex-direction: row-reverse;
}

._pendo-resource-center-sandbox-module-code-container {
  border: none !important;
}

.hiddenCategory {
  visibility: hidden;
}

.categoryHeader {
  text-align: left;
  font: normal normal bold 12px/18px Adobe Clean;
  letter-spacing: 0.72px;
  color: #2c2c2c;
  text-transform: uppercase;
  opacity: 1;
  padding-bottom: 11px;
}

.hidden-element {
  display: none !important;
}

.guideCategory {
  border: 1px solid #eaeaea;
  background: #ffffff;
  padding: 15px;
  margin-bottom: 15px;
  line-height: 17px;
}

.guide-accordion {
  position: relative;
}

.guideCategory ._pendo-simple-text,
.guide-accordion-button,
._search-results-list ._pendo-simple-text {
  text-align: left !important;
  font: normal normal normal 14px/17px Adobe Clean !important;
  letter-spacing: 0px !important;
  color: #747474 !important;
  opacity: 1 !important;
  padding-bottom: 6px !important;
}

._search-results-list {
  padding: 0px !important;
  text-align: left !important;
}

#_pendo-guide-search-results {
  padding-top: 0px !important;
}

#pendo-no-matches-container {
  border: 1px solid #eaeaea;
  background: #ffffff;
  height: 30%;
  float: none;
  vertical-align: baseline;
}

#pendo-search-results-container {
  border: 1px solid #eaeaea;
  background: #ffffff;
  float: none;
  vertical-align: baseline;
  height: auto;
}

/* \
Remove padding from ol guide list

*/
